secrets.json
.secrets
.env

node_modules/
.idea/

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session

# Hardhat
cache/

# Typechain
typechain-types/
artifacts/

# ABIs (ChaosLabs: include in tracking to spot breaking ABI changes easier)
# abis/

# solidity-coverage
coverage/
coverage.json

# Husky
.husky

# Yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions